html, body
{
    height:100%;
    width:100%;
    padding:0;
    margin:0;
    background: grey;
}


.column
{
    float: left;
    width: 50%;
}

.row:after
{
    content: "";
    display: table;
    clear: both;
    
}


.abouttext
{
    margin-left: 30px;
    margin-right: 100px;
    float:right;
}

.aboutpic
{
    float:left;
    display:block;
    max-width:200px;
    max-height:200px;
    width:auto;
    height:auto;
    margin:auto;
}

div
{
    width: 90%;
}

figurert
{
    float:right;
    text-align: center;
    font-style: italic;
    font-size: x-small;
    text-indent: 0;
    margin: 0.5em;
    padding: 0.5em;
    display:block;
}

figurelt
{
    float:left;
    text-align: center;
    font-style: italic;
    font-size: x-small;
    text-indent: 0;
    margin: 0.5em;
    padding: 0.5em;
    display:block;
}

.names
{
    text-align: center;
    color: black;
    font-size: 160%;
    font-weight: bold;
    margin:0;
}
.header
{
    text-align: center;
    padding: 20px;
    color: black;
    font-size: 200%;
    font-weight: bold;
    font-family: "Lobster Two", cursive;
    margin:0;
}


/* The navbar container */
.menu
{
    overflow: hidden;
    background-color: red;
    width: 100%;
}

/* Navbar links */
.menu a
{
    float: left;
    display: block;
    color: black;
    text-align: center;
    font-size: 110%;
    padding: 14px 16px;
    text-decoration: none;
    vertical-align:center;
}

/* Links - change color on hover */
.menu a:hover	    
{
    background-color: #ddd;
    color: black;
}

.headpic
{
    display: block;
    margin-left: auto;
    margin-right: auto;


}

.mainpart
{
    padding-top: 100px;

    background-color: grey;
    margin:10px;
    margin-right:10px;
    margin-left:100px;



}

.footer
{
    background-color:grey;
}
