html, body
{
    height:100%;
    width:100%;
    padding:0;
    margin:0;
    background: grey;
    
}

.video-container
{
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:88.5%;
}
.column
{
    float: right;
    width: 48%;
    height:auto;
    overflow:hidden;    
}

indent
{
    padding-left:1.8em;
}

.row:after
{
    content: "";
    display: table;
    width:100%;
    clear: both;
    margin-bottom:5%;
}

.abouttext
{
    width: 90%;
    height: auto;
    margin-left: 10%;
    margin-right:10%;
    float: left;
}


.abouttext2
{
    margin:0 auto;
    float:right;
}


.aboutpic
{
    float:left;
    display:block;
    max-width:200px;
    max-height:200px;
    width:auto;
    height:auto;
    margin:auto;
}

div
{
    width: 100%;
}

figurert
{
    float:right;
    text-align: center;
    font-style: italic;
    font-size: x-small;
    text-indent: 0;
    margin: 0.5em;
    padding: 0.5em;
    display:block;
}

figurelt
{
    float:left;
    text-align: center;
    font-style: italic;
    font-size: x-small;
    text-indent: 0;
    margin: 0.5em;
    padding: 0.5em;
    display:block;
}


.names
{
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto;
}

.header
{
    text-align: center;
    color: black;
    font-size: 200%;
    font-weight: bold;
    font-family: "Corbel", cursive;
    margin:0;
}


/* The navbar container */
.menu
{
    overflow: hidden;
    background-color: red;
    text-align:center;
    width: 100%;
}

/* Navbar links */
.menu a
{
    float:center;
    display: inline-block;
    color: black;
    text-align: center;
    font-size: 110%;
    padding: 14px 16px;
    text-decoration: none;
    vertical-align:center;
    margin:0 -2.5px;
}

/* Links - change color on hover */
.menu a:hover	    
{
    background-color: #ddd;
    color: black;
}

.active
{
    background-color: #ddd;
    color: white;
}

.headpic
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mainpart
{
    padding-top: 100px;
    background-color: grey;
    margin-top:10px;
    width:100%;
}

iframe.fbframe
{
    float:right;

}

.footer
{
    background-color:grey;
}

@media (max-width: 875px)
{
    .column
    {
        width: 100%;
	padding-bottom:20px;
	text-align:center;
    }

    iframe.fbframe
    {
	float:left;
    }

   
}
